[project]
	description = Remote log tailing using the HTTP Range header.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Federico Ressi (FedericoRessi)
[access "refs/for/refs/*"]
	read = group user/Federico Ressi (FedericoRessi)
	push = group user/Federico Ressi (FedericoRessi)
	label-Code-Review = -2..+2 group user/Federico Ressi (FedericoRessi)
	label-Verified = -1..+1 group user/Federico Ressi (FedericoRessi)
	rebase = group user/Federico Ressi (FedericoRessi)
	removeReviewer = group user/Federico Ressi (FedericoRessi)
	submit = group user/Federico Ressi (FedericoRessi)
[access "refs/heads/*"]
	read = group user/Federico Ressi (FedericoRessi)
	create = group user/Federico Ressi (FedericoRessi)
	push = +force group user/Federico Ressi (FedericoRessi)
	pushMerge = group user/Federico Ressi (FedericoRessi)
[access "refs/tags/*"]
	push = group user/Federico Ressi (FedericoRessi)
	push = +force group user/Federico Ressi (FedericoRessi)
